.raleway {
  font-family: "Raleway", sans-serif;
}

.openSans {
  font-family: "Open Sans", sans-serif;
}

.weight-400 {
  font-weight: 400;
}

.weight-700 {
  font-weight: 700;
}

body {
  background: #181f2a;
  color: white;
  font-size: 14px;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.ml-5 {
  margin-left: 5em;
}

.container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 50%;
  margin-bottom: 8em;
}

h1 {
  font-size: 2.5em;
  line-height: 1.5em;
}

main p {
  font-size: 1.22em;
  padding: 0 3em;
  text-align: center;
}

.img-fluid {
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3em auto;
  width: 90%;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline;
  padding: 0 1.3em;
}

.navbar li a {
  text-decoration: none;
  color: white;
}

.navbar li a:hover {
  color: #339ecc;
}

.grid-columns-2 {
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 7em;
}

.grid-columns-5 {
  -ms-grid-columns: (minmax(0, 1fr))[5];
      grid-template-columns: repeat(5, minmax(0, 1fr));
}

.container-items {
  margin: auto;
  width: 60%;
}

.section-items h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.section-items p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.section-items img {
  width: auto;
  height: 5em;
}

.section-items {
  text-align: center;
  margin-bottom: 5em;
}

.section-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 80%;
  margin-bottom: 5em;
}

.section-work img {
  width: 40em;
}

.section-work a {
  color: #65e2d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-work a:hover {
  color: #339ecc;
}

.section-work a img {
  width: 1.1em;
}

.container-quotes {
  margin: auto;
  width: 75%;
  margin-bottom: 4em;
}

.img-quote {
  position: relative;
  top: 1em;
  left: -0.5em;
  z-index: -1;
}

.box-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3em;
}

.card {
  background: #202a3c;
  border-radius: 0.3em;
  padding: 2em 1.5em;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  font-size: 12px;
}

.profile img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-subscribe {
  position: relative;
  top: 7em;
  margin: auto;
  width: 60%;
  background: #202a3c;
  padding: 2em;
  border-radius: 0.3em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 10.95px 10.95px 11.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 10.95px 10.95px 11.6px;
}

.section-subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

.section-subscribe-form input {
  border-radius: 2em;
  padding-left: 2em;
  width: 100%;
  border: none;
  height: 3em;
}

.section-subscribe-form a {
  width: 30%;
  padding: 0.8em 1em;
  text-align: center;
  border: none;
}

footer {
  background: #0b1523;
  padding-top: 10em;
}

.footer-container {
  margin: auto;
  width: 85%;
}

.footer-items {
  gap: 3em;
  line-height: 1.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-flex-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-flex-icons img {
  margin-right: 1em;
}

.footer-items ul {
  list-style: none;
}

.footer-items li {
  line-height: 2.2em;
}

.footer-items a {
  text-decoration: none;
  color: white;
}

.footer-items a:hover {
  color: #339ecc;
}

.footer-social-networks {
  margin-top: 1em;
  font-size: 3em;
}

.attribution {
  text-align: center;
  margin: auto;
  margin-top: 5em;
  padding: 1em;
}

.attribution a {
  color: #65e2d9;
}

.attribution a:hover {
  color: #339ecc;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 1em 5em;
  border-radius: 2em;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(90deg, #65e2d9 0%, #339ecc 100%);
}

.btn:hover {
  opacity: 90%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 900px) {
  .container-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    width: 90%;
    margin-bottom: 8em;
  }
  .brand img {
    width: 10em;
  }
  .grid-columns-2 {
    justify-items: center;
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .grid-columns-5 {
    justify-items: left;
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .section-work img {
    width: 100%;
  }
  .section-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    width: 80%;
    margin-bottom: 5em;
  }
  .ml-5 {
    margin: auto;
  }
  .box-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 3em;
  }
  .section-subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
  }
  .section-subscribe-form input {
    border-radius: 2em;
    padding-left: 2em;
    max-width: 90%;
    border: none;
  }
  .section-subscribe-form a {
    padding: 0.8em 1em;
    width: 90%;
    text-align: center;
    border: none;
  }
  .footer-social-networks {
    margin-top: 1em;
    font-size: 3em;
  }
  .footer-items ul {
    list-style: none;
    display: initial;
  }
}
/*# sourceMappingURL=main.css.map */