<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <!-- Reset Styles -->
    <link
      rel="stylesheet"
      href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="./css/main.css" />
    <title>Frontend Mentor | Time tracking dashboard</title>
  </head>

  <body>
    <main>
      <div class="card-profile">
        <div class="card-profile-top">
          <img src="./images/image-jeremy.png" alt="Profile Image" />
          <div>
            <span> Report for </span>
            <h1>
              Jeremy <br />
              Robson
            </h1>
          </div>
        </div>
        <div class="card-profile-bottom">
          <a href="#"> Daily </a>
          <a href="#" class="active"> Weekly </a>
          <a href="#"> Monthly </a>
        </div>
      </div>
      <div class="card-group" id="cardGroup">
        <div class="card card-work">
          <div class="card-tab">
            <div class="card-content">
              <h3>Work</h3>
              <img src="./images/icon-ellipsis.svg" alt="icon" />
            </div>
            <div>
              <h2>32hrs</h2>
              <span>Last week - 36hrs</span>
            </div>
          </div>
        </div>
        <div class="card card-play">
          <div class="card-tab">
            <div class="card-content">
              <h3>Work</h3>
              <img src="./images/icon-ellipsis.svg" alt="icon" />
            </div>
            <div>
              <h2>32hrs</h2>
              <span>Last week - 36hrs</span>
            </div>
          </div>
        </div>
        <div class="card card-study">
          <div class="card-tab">
            <div class="card-content">
              <h3>Work</h3>
              <img src="./images/icon-ellipsis.svg" alt="icon" />
            </div>
            <div>
              <h2>32hrs</h2>
              <span>Last week - 36hrs</span>
            </div>
          </div>
        </div>
        <div class="card card-exercise">
          <div class="card-tab">
            <div class="card-content">
              <h3>Work</h3>
              <img src="./images/icon-ellipsis.svg" alt="icon" />
            </div>
            <div>
              <h2>32hrs</h2>
              <span>Last week - 36hrs</span>
            </div>
          </div>
        </div>
        <div class="card card-social">
          <div class="card-tab">
            <div class="card-content">
              <h3>Work</h3>
              <img src="./images/icon-ellipsis.svg" alt="icon" />
            </div>
            <div>
              <h2>32hrs</h2>
              <span>Last week - 36hrs</span>
            </div>
          </div>
        </div>
        <div class="card card-self">
          <div class="card-tab">
            <div class="card-content">
              <h3>Work</h3>
              <img src="./images/icon-ellipsis.svg" alt="icon" />
            </div>
            <div>
              <h2>32hrs</h2>
              <span>Last week - 36hrs</span>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div class="attribution">
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
        >Frontend Mentor</a
      >. Coded by <a href="https://www.linkedin.com/in/mrnizzy/" target="_blank">Nizzy Hernandez</a>.
    </div>
  </body>
</html>
